html{
	margin:0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.header{
	vertical-align: center;
	border: 2px solid black;
	padding:15px;
	margin-bottom: 20px;
}

.settings{
	float:left;
	border: 2px solid black;
}

.login-info{
	float:right;
	margin-right: 30px;
	border: 2px solid black;
}

.features{
	border: 2px solid black;	
	padding:20px;
	margin-bottom: 20px;
}

.console-feature{
	float:left;
	margin-right: 50px;
	margin-bottom: 10px;
	border: 2px solid black;	
	min-height: 370px;
	width: 300px;
	padding: 5px;
}

.console{
	float:left;
	margin-right:5px;
	margin-bottom: 10px;
	border: 2px solid black;
	min-height: 170px;
	width: 260px;
}

.console-bars{
	float:right;	
	border: 2px solid green;
	width:20px;
	min-height: 40px;
	margin-bottom: 10px;
}

.console-stack{
	float: right;
	border: 2px solid red;
	width:20px;
	min-height: 120px;
}

.console-info{
	border: 2px solid blue;
	clear: both;
	min-height: 160px;
}

.table-feature{
	float:left;
	border: 2px solid black;	
	width: 450px;
	min-height: 370px;
}

.chart-feature{
	float:right;
	border: 2px solid black;	
	width: 450px;
	min-height: 370px;
}

.footer{
	min-height: 50px;
	border: 2px solid orange;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
