html, body{
	margin:0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#headInfo{
	background-color:red;
	width:100%;
	height:12%;
}

#loginDiv{
	float: right;
	margin: 5px;
	background: white;
}

#mainInfo{
	margin:0px;
	width: 100%;
	height: 88%;
	background-color: green;
}


#userInfo{
	background-color:yellow;
	width:30%;
	height: 100%;
	float:left;
}
#tradingInfo{
	background-color:blue;
	width:30%;
	height: 100%;
	float:left;
}

#marketInfo{
	background-color:orange;
	width:40%;
	height: 100%;
	float:left;
}

#console{
	margin: 5px;
	width: 95%;
	height: 30%;
	resize: none;
}
#answers{
	margin: 5px;
	width: 80%;
	height:60%;
	float: left;
	clear: left;
}
#cmd_stack{
	margin: 5px;
	width: 10%;
	height:60%;
	float: right;
}

table{
	width: 80%;
	height: 30%;
	margin:auto;
}