<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Properties>
        <Property name="log-path">logs/</Property>
    </Properties>
    <Appenders>
        <Console name="consoleAp" target="SYSTEM_OUT">
            <PatternLayout pattern="%deal{HH:mm:ss} [%term] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <File name="fileAp" fileName="${log-path}/records.log" append="false">
            <PatternLayout pattern="%deal{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L - %m%n">
            </PatternLayout>
        </File>

        <!--<RollingFile name="RollingfileAp" fileName="${log-path}/records.log"-->
                     <!--filePattern="${log-path}/records-%deal{yyyy-MM-dd}-%i.log" bufferedIO="true" bufferedSize="10"-->
                     <!--immediateFlush="true">-->
            <!--<PatternLayout>-->
                <!--<Pattern>%deal{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L - %m%n</Pattern>-->
            <!--</PatternLayout>-->

            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
                <!--<OnStartupTriggeringPolicy/>-->
                <!--&lt;!&ndash;<CronTriggeringPolicy schedule="* * * * * ?"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<SizeBasedTriggeringPolicy size="100 KB"/>&ndash;&gt;-->
            <!--</Policies>-->
        <!--</RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="fileAp"/>
            <AppenderRef ref="consoleAp"/>
        </Root>
    </Loggers>


</Configuration>