<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="log-path">logs/</Property>
    </Properties>
    <Appenders>
        <!--<Console name="ConsoleAppender" target="SYSTEM_OUT">-->
        <!--<PatternLayout>-->
        <!--%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n-->
        <!--</PatternLayout>-->
        <!--</Console>-->

        <!--<File name="FileAppender" fileName="logs/log55.txt" append = "true">-->
        <!--<PatternLayout>-->
        <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L - %m%n</Pattern>-->
        <!--</PatternLayout>-->
        <!--</File>-->

        <RollingFile name="RollingFileAppender" fileName="${log-path}/records"
                     filePattern="${log-path}/records-%d{yyyy-MM-dd HH-mm-ss}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--<SizeBasedTriggeringPolicy size="1 KB"/>-->
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!--<Logger name="go.takethespread.fsa.FiniteStateAutomation" level="all" additivity="false">-->
        <!--<AppenderRef ref="ConsoleAppender"/>-->
        <!--</Logger>-->

        <Root level="debug">
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>


</Configuration>